// Place all the styles related to the BikeRacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#title {
  text-align: center;
}
.table-striped>tbody>tr:nth-child(odd)>td,
tr.found {
  background-color: #fff;
}
th, td {
    text-align: center;
}
th, tr:nth-child(even) {
    background-color: #eee;
}
th, td td {
    background-color: black;
    color: white;
}

#heat_panel {
        position: absolute;
        top: 100px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }