// Place all the styles related to the BikeRacks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#title {
  text-align: center;
}
.table-striped>tbody>tr:nth-child(odd)>td,
tr.found {
  background-color: #fff;
}
th, td {
    text-align: center;
}
th, tr:nth-child(even) {
    background-color: #eee;
}
th, td td {
    background-color: black;
    color: white;
}

#map-container {
   height: 700px;
   border-radius: 16px 16px;
   border-color: #fff;
   border-style: solid;
   box-shadow: 2px 2px 10px #B1B1B1;
   margin-top: 25px;
   border-width: 7px;
 }
 #map-canvas {
   height: 684px;
   width: 100%;
 }

#heat_panel {
        position: absolute;
        top: 100px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }