<head>
  <style>
            h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
  </style>
</head>

<div class="container">
  <div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8">
      <div class="row" id="title"><h1>New Water Fountain</h1></div>
      <div class="row" id="title">
        <%= render 'form' %>
        <%= link_to 'Back', water_fountains_path %>
      </div>
    </div>
    <div class="col-xs-2"></div>
  </div>
</div>
